*{
    margin: 0;
    border: 0;
    color: white;
}
body{
    background-color: cornflowerblue;
}
.display input{
    height: 90px;
    width: 300px;
    margin-left: 35px;
    margin-bottom: 10px;
    background-color: rgb(44, 43, 43);
    font-size: 40px;
}
.box{
    background-color: rgb(4, 0, 26);
    height: fit-content;
    width: fit-content;
    padding: 10px 10px 20px 0px;
    box-shadow: 20px 20px 20px black;
    border: 5px solid white;
    position: relative;
    top: 100px;
    left: 35%;
}

.box .inp{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
}
.box .inp input{
    height: 50px;
    width: 80px;
    margin: 5px;
    background-color: rgb(41, 40, 40);
    box-shadow: 5px 5px 5px white;
    color: white;
     cursor: pointer;
}
.box .inp input:hover{
    height: 45px;
    width: 75px ;
    margin-top: 10px;
}